.header {
  width: 100%;
  color: white;
  text-align: center;
  margin: 2% 0%;
  padding: 0% 5px;

  border-radius: 1rem;
  background-color: var(--fav-color);
}

h1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  font-weight: lighter;
  font-family: "Righteous", cursive;
}

#count {
  font-size: 50px;
  font-weight: lighter;
  font-family: "Monoton", cursive;
}

@media screen and (max-width: 500px) {
  .header {
    margin: 4% 0%;
  }
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: large;
  }
}
